@model ProjetoOficialVeiculos.Models.Caminhao

@{
    ViewData["Title"] = "Detalhes do Caminhão";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center mb-4">Detalhes do Caminhão</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-center bg-primary text-white">
                    <h4 class="mb-0">Caminhão</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Placa do Caminhão</dt>
                        <dd class="col-sm-8 fs-5 text-muted">@Html.DisplayFor(model => model.placa)</dd>
                    </dl>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Edit" asp-route-id="@Model?.id" class="btn btn-warning btn-sm rounded-3">
                        <i class="fas fa-edit"></i> Editar
                    </a>
                    <a asp-action="Index" class="btn btn-link text-decoration-none">
                        <i class="fas fa-arrow-left"></i> Voltar à Lista
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
}
