@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de Registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Este aplicativo atualmente não possui um remetente de e-mail real configurado. Consulte <a href="https://aka.ms/aspaccountconf">esta documentação</a> para saber como configurar um remetente de e-mail real.<br />
            Normalmente, o link seria enviado por e-mail: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar sua conta</a>.
        </p>
    }
    else
    {
        <p>
            Verifique seu e-mail para confirmar sua conta.
        </p>
    }
}
