@model ProjetoOficialVeiculos.Models.Material

@{
    ViewData["Title"] = "Excluir Material";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-black mb-4">Excluir Material</h1>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm border-dark">
            <div class="card-header text-center bg-dark text-white">
                <h4 class="mb-0">Confirmar Exclusão</h4>
            </div>
            <div class="card-body bg-dark text-white">
                <h3 class="text-center">Você tem certeza de que deseja excluir este material?</h3>
                <div>
                    <h4>Material</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.nome)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.nome)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.quantidade)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.quantidade)
                        </dd>
                    </dl>
                </div>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="id" />
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-danger btn-lg" style="width: 100%; height: 60px;">Excluir</button>
                    </div>
                </form>

                <div class="text-center mt-4">
                    <a asp-action="Index" class="btn btn-link text-white">Voltar para a lista</a>
                </div>
            </div>
        </div>
    </div>
</div>
